<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mttrnd.qrh">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.mttrnd.qrh.NewPackage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.mttrnd.qrh.Splash">

        </activity>
        <activity
            android:name="com.mttrnd.qrh.List"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.mttrnd.qrh.Detail"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.mttrnd.qrh.List"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.mttrnd.qrh.detail" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mttrnd.qrh.About"
            android:parentActivityName="com.mttrnd.qrh.List" />
        <activity
            android:name="com.mttrnd.qrh.Disclaimers"
            android:parentActivityName="com.mttrnd.qrh.About" />
    </application>

</manifest>